{% extends "base.html" %}

{% block title %}Записи сообщества {{ group.title }} {% endblock %}

{% block header %} {{ group.title }} {% endblock %}

{% block content %}
    <p> {{ group.description }} </p>

    {% for post in page %}
        <p>Цитаты {{ post.author.get_full_name }}</p>
        <h3>
            {% if post.author.get_full_name %}
                Автор: {{ post.author.get_full_name }},
            {% endif %}
            Дата публикации: {{ post.pub_date|date:"d M Y" }}
        </h3>
        <p>{{ post.text|linebreaksbr }}</p>
        {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}

    {% include "paginator.html" %}

{% endblock %}
